@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

* {
  word-break: keep-all;
}

@keyframes marquee-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
@keyframes marquee-right {
  0% { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

@utility animate-marquee-left {
  animation: marquee-left 60s linear infinite;
}
@utility animate-marquee-right {
  animation: marquee-right 60s linear infinite;
}
